html{
	height: 100%;
	width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note.new {
	background-color: #FFBF78;
}



.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	min-height: 100vh;
}

.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}

.single-note:hover{
	scale: 1.05;
}


textarea, input {
	border: none;
	resize: none;
	background-color: #FFBF78;
}


textarea:focus, input:focus {
	outline: none;
}

.save ,.cancel {
	padding: 5px 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #4caf50;
	color: white;
	cursor: pointer;
}

.save:hover, .cancel:hover {
	background-color: #45a049;
	cursor: pointer;
}

.note {
	background-color: #B4E380;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space: pre-wrap;
	word-wrap:break-word;
	overflow-wrap: break-word;
}

.note-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete-icon, .edit-icon {
	cursor: pointer;
}

.search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
}

.search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
}

.search input:focus {
	outline: none;
}


.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    background-color: #c1bdad;
    color: white;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #d1b763;
    border: 2px solid rgb(17, 16, 16);
  }
  
  .pagination button.active {
    background-color: #e5b30d;
  }







